@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    min-height: 100vh;
}

/* Contenido Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #00C4FF;
}

#navbarNav {
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #00C4FF;
}

.navbar-toggler {
    border: none;
    color: #fff;
}

/* Estilos del Dropdown */
.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    color: #00C4FF;
}

/* Estilos del video de fondo */
#videoContenedor {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

#videoFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.logo-seccion {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: none;
    padding: 12px 0px 8px 0px;
}

.logo-seccion h1 {
    font-size: 2rem;
    color: #fff;
}

h1:hover {
    color: #00C4FF;
}

#seccion2 {
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(img/fondo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon__image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon__data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name {
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input__search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

#seccion3 {
    background: url(img/fondo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.title {
    color: transparent;
}

.pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.pokemon-block,
.pokemon-block-back {
    border: 3px solid #00DFA2;
    border-radius: 35px;
    padding: 10px;
    background: url(https://www.pkparaiso.com/imagenes/anime/741/001.jpg);
    box-shadow: 15px 15px 15px #00DFA2;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.pokemon-block:hover,
.pokemon-block-back:hover {
    box-shadow: 0 6px 20px #00DFA2;
}

.img-container {
    font-size: 20px;
    background-image: url(img/blob.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon-block p {
    color: white;
    margin: 5px;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
}

#spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.pagination {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-container {
    position: relative;
    width: 90%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .card-container {
    transform: rotateY(180deg);
}

.pokemon-block,
.pokemon-block-back {
    color: white;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
}

.stat-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
}

/* Footer */
.footer {
    width: 100%;
    padding-top: 20px;
    height: 7vh;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}

.footer span {
    color: #709b47;
    border-color: #1B1919;
    font-weight: bold;
}

.footer span:hover {
    color: #fff;
    border-color: #1B1919;
    font-weight: bold;
}

.span {
    cursor: pointer;
}

body.swal2-shown>[aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

.icono-personalizado {
    width: 60px;
    height: 60px;
}
